<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# Mi Primer Jupiter Notebook BÃ¡sico.

In [3]:
print("Hola Mundo")

Hola Mundo

In [1]:
1+1

2

<a href="https://cognitiveclass.ai/"> Cognitive Class</a>

| header | header |
| ------ | ------ |
| cell | cell |

| Columna 1 | Columna 2 | Columna 3 |
|-----------|-----------|-----------|
| row 1 | row 12 | row 13 |
| row 2 | row 22 | row 33 |
| row 3 | row 32 | row 33 |
| row 4 | row 42 | row 43 |